.detail {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  width: 1291px;
  height: 1018px;
  left: 195px;
  top: 644px;
  .container {
    display: flex;
    flex-direction: row;
    flex: 50%;
    max-height: 350px;
    max-width: 950px;
    .description {
      margin-left: 20px;
      .title {
        font-family: Roboto;
        font-style: normal;
        font-weight: 900;
        font-size: 26px;
        line-height: 110%;
        /* or  */
      }
      .body {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
}
